In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

dataset = pd.read_csv("../data/01_raw/CarPrice.csv")
dataset.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [62]:
dataset.shape

(205, 26)

In [63]:
data = dataset.sample(frac=0.9)
data_unseen = dataset.drop(data.index)

data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print("Data for modeling: " + str(data.shape))
print("Unseen data for predictions: " + str(data_unseen.shape))

Data for modeling: (184, 26)
Unseen data for predictions: (21, 26)

In [64]:
from pycaret.regression import *
regress = setup(data = data, target = "price", session_id = 69, use_gpu = True, train_size=0.8)

In [65]:
#evaluate models
best_model = compare_models(fold = 15, sort="MAE")

In [66]:
gbr = create_model('gbr', fold = 15)

In [67]:
tuned_gbr = tune_model(gbr, optimize="MAE", n_iter=100, fold = 15)

Fitting 15 folds for each of 100 candidates, totalling 1500 fits

In [68]:
evaluate_model(tuned_gbr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [69]:
predict_model(tuned_gbr);

In [70]:
final_gbr = finalize_model(tuned_gbr)

In [71]:
print(final_gbr)

Pipeline(memory=Memory(location=C:\Users\tyveg\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['car_ID', 'symboling', 'wheelbase',
                                             'carlength', 'carwidth',
                                             'carheight', 'curbweight',
                                             'enginesize', 'boreratio',
                                             'stroke', 'compressionratio',
                                             'horsepower', 'peakrpm', 'citympg',
                                             'highwaympg'],
                                    transformer=SimpleImputer())),
                ('categor...
                                                                   handle_missing='return_nan',
                                                                   random_state=69))),
                ('low_variance',
                 TransformerWrapper(exclude=[],
                                    transformer=VarianceThreshold(threshold=0))),
                ('actual_estimator',
                 GradientBoostingRegressor(learning_rate=0.15, max_depth=2,
                                           max_features=1.0,
                                           min_impurity_decrease=0.002,
                                           min_samples_leaf=3,
                                           min_samples_split=9,
                                           n_estimators=290, random_state=69,
                                           subsample=0.95))])

predict_model(final_gbr);

In [72]:
unseen_predictions = predict_model(final_gbr, data=data_unseen)
unseen_predictions.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody_hatchback,carbody_sedan,carbody_wagon,carbody_hardtop,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,prediction_label
0,4.0,2.0,13376.725543,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,17905.398810,3.19,3.40,10.0,102.0,5500.0,24.0,30.0,13950.000000,11840.127946
1,10.0,0.0,13376.725543,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,17858.861096,3.13,3.40,7.0,160.0,5500.0,16.0,22.0,17859.167969,20166.621781
2,23.0,1.0,13376.725543,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,7518.627119,2.97,3.23,9.4,68.0,5500.0,31.0,38.0,6377.000000,6174.222667
3,39.0,0.0,13376.725543,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,7213.444444,3.15,3.58,9.0,86.0,5800.0,27.0,33.0,9095.000000,8978.813536
4,50.0,0.0,13376.725543,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,17642.898810,3.54,2.76,11.5,262.0,5000.0,13.0,17.0,36000.000000,34766.587412